
  .grid {
     display: grid;
     width: auto;
     grid-template-columns: repeat(auto-fit);
     grid-gap: 10px;
     object-fit: fill;
}


body {
  background: rgb(84, 82, 83);


}

p {
  color: rgb(201,199,200);
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

h1 {
  color: rgb(201,199,200);
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  text-align: left;
}

#logo {
  opacity: 0.8;
}

.title {
  height: 150px;
  width: 100%;
  text-align: left;
  
  background-color: rgb(201,199,200);
  background-position: 50% 85%;
  background-blend-mode: multiply;
}

#headerimg {
  height: 150px;
  width: auto;
}

#logo {
  height: 150px;
  width: auto;
}

.blurb, .gallery, .reviews, .contact_form {

  border: 2px;

  padding: 5px;
  text-align: justify;

}



.gallery {

}

.reviews {
  overflow: scroll;
  text-align: center;
}


}
.contact_form {
  position: static;
  bottom: 200px;
}
.contact_static {
  position: fixed;
  bottom: 0px;
  background-image:url(file:///Users/user/ccprojects/eden_rock_website/images/garden3.jpg);
  opacity: 50%;
  width: 98%;
  z-index: 10;
  border: 3px solid rgb(84, 82, 83);
  background-position: 100% 70%;
  padding: 5px, 5px;
  margin: 10px, 10px;
  text-align: center;
  font-size: 30px;
}
a {
  font-size: 40px;
}
#social {
  color: rgb(201,199,200);
  font-family: 'Arial', sans-serif;
  font-size: 30px;

}
li {
  color: rgb(201,199,200);
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}
