body {
  background: rgb(84, 82, 83);
}
p {
  color: rgb(201,199,200);
  font-family: 'Arial', sans-serif;
}

h1 {
  color: rgb(201,199,200);
  font-family: 'Arial', sans-serif;
}

#logo {
  opacity: 0.8;
}

.title {
  height: 400px;
  width: auto;
  text-align: center;
  background-image: url(file:///Users/user/ccprojects/eden_rock_website/images/garden1.jpg);
  background-color: rgb(201,199,200);
  background-position: 50% 40%;
  background-blend-mode: multiply;
}

#headerimg {
  height: 400px;
  width: auto;
}

#logo {
  height: 400px;
  width: auto;
}

.blurb, .gallery, .reviews, .contact_form {
  width: 500px;
  border: 3px solid rgb(201,199,200);
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}

li {
  color: rgb(201,199,200);
  font-family: 'Arial', sans-serif;
}
